* {
  font-family: 'Montserrat', sans-serif;
}
.logo h4 {
  font-size: 30px;
  font-weight: 800;
}
.logo h5 {
  font-size: 22px;
  font-weight: 800;
}
.header {
  position: relative;
}
.header h2 {
  position: absolute;
  left: 20%;
  top: 20%;
  font-size: 38px;
  line-height: 50px;
  font-weight: 700;
}
.fingersnap_image {
  width: 165px;
}
.sign_in_button {
  width: 100%;
  background-color: #69b791 !important;
  color: #fbf7f7;
  font-size: 20px !important;
  border-radius: 10px !important;
}
.sign_in_button:hover {
  background-color: #5aa380 !important;
  color: #fbf7f7;
}
.form_detail input {
  border-bottom: 1px solid #a2c4ce !important;
}
.form_detail label {
  color: #a2c4ce;
  font-weight: 400;
}

/* SignIn Modal Fotgot password  */
.forget_pass {
  text-align: right;
}
.forget_pass p a {
  color: #69b791;
  text-decoration: none;
}
.forget_pass p a:hover {
  color: #5aa380 !important;
}
/* forgot password container */
.set_password_form,
.forgot_privacy_info {
  width: 50%;
  margin: auto;
}
.set_password_form {
  box-shadow: 1px 1px 5px #999;
}
.forgot_privacy_info p {
  font-size: 10px;
}
.forgot_privacy_info p a {
  color: #69b791;
  text-decoration: none;
}
.forgot_privacy_info p a:hover {
  color: #5aa380;
}
.set_password_form form label {
  margin: 0;
  color: #a4d3e7 !important;
}
#contact-form .form-group input {
  width: 100%;
  border-bottom: 1px solid #a4d3e7 !important;
  border-radius: 0;
  padding: 0;
}
.set_password_form form button {
  background: #69b791;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 18px;
}
.set_password_form form button:hover,
.set_password_form form button:focus,
.set_password_form form button:active {
  background: #5aa380 !important;
}
/* ----- */
.create_acc p {
  font-size: 18px;
  color: #999;
}
.create_acc p a {
  text-decoration: none;
  color: #69b791;
  font-weight: 600;
}
.create_acc p a:hover {
  color: #5aa380;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

#contact-form .form-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
}

.errorMessage {
  color: #ff5000;
  font-size: 12px;
}
/*------------- SBR------------ */
.sign_in_fluxx p {
  color: #222;
  font-size: 22px;
}
.signin_color {
  background-color: #efefef;
  text-align: center;
}
.input_fileds {
  border: none;
  border-bottom: 1px solid red;
  border-radius: 0;
}
.model_footer {
  background: #efefef;
  font-size: 16px;
  font-weight: 400;
}
.model_footer p a,
.account_footer p a {
  color: #69b791;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}
.account_footer p a:hover {
  color: #5aa380 !important;
}
.account_footer {
  font-size: 18px;
}
.account-footer-part a {
  color: #69b791;
  text-decoration: none;
  font-weight: 600;
}
.account-footer-part a:hover {
  text-decoration: none;
  color: #5aa380;
}
.form_btn {
  width: 75%;
  background: #69b791 !important;
  border: none !important;
  border-radius: 15px !important;
  margin: 0;
  padding: 0 30px;
}
.form_btn:hover {
  background: #5aa380 !important;
}
.signup_image img {
  width: 48px;
  margin: 0 auto;
}
.password-validation {
  color: #a2c4ce;
}
.form_container label {
  font-weight: 600;
}
.form_container input,
.form_container textarea {
  border: 2px solid #383b4c;
  border-radius: 0;
}
.test {
  width: 100%;
}
.btn_class {
  width: 250px;
  background: #383b4c;
  color: #efefef;
  font-weight: 500 !important;
}
.btn_class:hover {
  color: #f9f9f9 !important;
  background: #404146 !important;
}
.form-group input:focus,
.form-group textarea:focus {
  border-color: #a4d3e7;
}

/* footer */
.footer-fixed p a {
  text-decoration: none;
  color: #5aa380;
}

/* Members index Page */
.members_container {
  width: 65% !important;
}
.members_container h2 {
  font-size: 38px;
  color: #999;
}
.charters {
  display: flex;
}
.folder-image img {
  width: 25px;
}
.create-charter-div .create-charter-btn {
  text-align: center;
  background: #69b791;
  display: block;
  color: #efefef;
  text-decoration: none;
  font-size: 24px;
  border-radius: 10px;
}
.create-charter-div .create-charter-btn:hover {
  text-decoration: none;
  background: #5aa380;
}
/* -------- */
/* Get started with charter */
.contant {
  width: 70%;
}
.contant p {
  line-height: 28px;
}
.get_start_btn {
  text-align: center;
}
.get_start_btn a {
  width: 450px;
  background: #69b791;
  color: #efefef;
  border-radius: 10px;
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
}
.get_start_btn a:hover {
  color: #efefef;
  text-decoration: none;
  background: #5aa380;
}
/* -------- */
.option_section img {
  cursor: pointer;
}
.option_section img:hover {
  background: #383b4c;
  margin: 15px;
  border-radius: 50%;
}
.demo-pop {
  width: 150px;
}
.rename_option,
.delete_option,
.moveto_option {
  cursor: pointer;
  font-size: 18px;
}
.rename_option:hover,
.delete_option:hover,
.moveto_option:hover {
  background: #f9f9f9;
}
.form_section {
  background: #383b4c;
}
.pj_charter h4 {
  color: #f9f9f9;
}
.faq-col {
  width: 100%;
  background: transparent;
  cursor: pointer;
}
.project_details p {
  font-size: 24px;
  font-weight: 400;
}
.form-labels {
  font-weight: 500;
}
.faq-section p {
  font-size: 20px;
  font-weight: 400;
}
.faq-col p {
  font-size: 16px;
  font-weight: 600;
  color: #a2c4ce;
}
/* clanding */
.member-hello {
  width: 60%;
  margin: 0 auto;
}
.member-hello h1 {
  color: #f9f9f9;
  font-weight: 600;
}
/*get started */
.get_start {
  text-align: center;
}
.get_start a {
  width: 450px;
  background: #69b791;
  color: #efefef;
  border-radius: 10px;
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
}
.get_start a:hover {
  color: #efefef;
  text-decoration: none;
  background: #69b791;
}
/* projects */
.projects {
  cursor: pointer;
}
/* Project steps */
.project_info {
  width: 90%;
  height: 100px;
  border: 1px solid #999;
}
.date_info {
  width: 90%;
  height: 40px;
  border: 1px solid #999;
}
/* move items */
.moveto_project_charters p:first-child {
  font-size: 16px;
  font-weight: 400;
  color: #5aa380;
}
.moveto_project_charters p:last-child {
  color: #999;
}
.move_f1 {
  box-shadow: 1px 2px 3px #999;
  cursor: pointer;
}
.create-folder {
  width: 100%;
  height: 50px;
  background: #f9f9f9;
  display: flex;
}
.create-folder p {
  display: flex;
  justify-items: center;
  align-items: center;
}
.document {
  background: #efefef;
}
.document img {
  width: 50px;
}

/* Progress bar title List */
.progress_bar_details {
  width: 80%;
  margin: 0 auto;
}
.charter_heading {
  display: flex;
  color: #f9f9f9;
}
.project_charter {
  flex: 1;
}
.project_charter h5 {
  font-weight: 600;
}
.print_download {
  flex: 1;
  text-align: center;
}
.progress_bar_titles ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.progress_bar_titles ul li {
  display: inline-block;
  color: #f9f9f9;
  font-size: 14px;
  font-weight: 400;
  padding: 0 15px;
}
/* pdf download page */
.pdf_download_title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.pdf_download_title p {
  font-size: 20px;
}
.pdf_download_btn {
  text-decoration: none;
  background: #69b791;
  color: #f9f9f9;
  border-radius: 10px;
  font-size: 20px;
}
.pdf_download_btn:hover {
  background: #5aa380;
  color: #f9f9f9;
  text-decoration: none;
}
.pdf_view {
  width: 70%;
  display: block;
  margin: 0 auto;
  min-height: 700px;
  border: 1px solid #222;
}
/* ---------- */

/* my_account_top_section */
.my_account_top_section {
  width: 50%;
  margin: auto;
}
.my_account_top_section p {
  padding: 0 0 0 40px;
}
.acc_setting {
  background: #efefef;
  display: inline-block;
}
.acc_setting h4 {
  margin: 0;
}
.setting_block {
  width: 45%;
  margin: auto;
}
.email_section {
  background: #fff;
  box-shadow: 1px 1px 10px #383b4c;
}
.change_setting p {
  width: 400px;
  margin: 0;
}
.change_setting a {
  border: none;
  background: transparent;
  color: #69b791;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none !important;
}
.change_setting a:hover,
.change_setting a:focus,
.change_setting a:active {
  background: transparent !important;
  color: #5aa380 !important;
}
.delete_account a {
  background: #999;
  color: #404146;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  text-decoration: none !important;
}
.delete_account a:hover,
.delete_account a:active,
.delete_account a:focus {
  background: rgb(134, 134, 134) !important;
  color: #32333a !important;
}

/* change email modal */
.model_title {
  background: #efefef;
}
.model_title h4 {
  color: #404146;
}
form .email_change_btn {
  background: #69b791;
  color: #efefef;
  border: none;
  font-weight: 500;
}
form .email_change_btn:hover,
form .email_change_btn:active,
form .email_change_btn:focus {
  background: #5aa380 !important;
  color: #f9f9f9 !important;
}
form .cancel_btn {
  background: #efefef;
  color: #404146;
  border: none;
  font-weight: 500;
}
form .cancel_btn:hover,
form .cancel_btn:focus,
form .cancel_btn:active {
  background: #e6e6e6 !important;
  color: #404146 !important;
}
