/* body */
* {
  font-family: 'Montserrat', sans-serif;
}
body {
  padding: 0 !important;
}
/* navigation */
.logo h4 {
  font-size: 30px;
  font-weight: 800;
}
.header_text_overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_text_overlay .header_text {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0;
  color: hsl(0, 0%, 20%);
}
.signIn_section {
  float: right;
}
.landing_page a {
  padding: 0 30px !important;
}
.active {
  font-weight: 600;
}
.dropdown_items {
  padding: 0.5rem 1.5rem !important;
}
.dropdown_items a {
  text-decoration: none;
  color: #212529;
}
.dropdown_items a:hover {
  text-decoration: none;
  color: #212529;
}
.dropdown_items:focus,
.dropdown_items:active {
  background: #5aa380 !important;
  color: #efefef !important;
}
.dropdown_items a:focus,
.dropdown_items a:active {
  color: #efefef !important;
}
/* landing page */
.why_fluxx {
  margin: 40px 0;
  display: block;
}
.why_fluxx h2 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  color: hsl(0, 0%, 20%);
}
.finger_snap_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.finger_snap_content {
  font-size: 1rem;
  font-weight: 400;
}
.finger_snap_content {
  color: hsl(0, 0%, 20%);
}
.finger_snap_img {
  display: flex;
  justify-content: flex-end;
}
.finger_snap_img img {
  width: 165px;
  opacity: 0.8;
}
.direction_section {
  margin-top: 40px;
  padding: 40px 0;
}
.inside_direction_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.direction_left img {
  opacity: 0.9;
}
.direction_right p {
  margin: 0;
  color: hsl(0, 0%, 20%);
}
.light_bulb_section {
  padding: 40px 0;
}
.light_bulb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lightbulb_left p {
  margin: 0;
  color: hsl(0, 0%, 20%);
}
.lightbulb_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.lightbulb_right img {
  opacity: 0.9;
}
.guide_section {
  display: flex;
}
.guide_section div:nth-child(1) {
  width: 100%;
  text-align: center;
}
.guide_section div:nth-child(2) {
  width: 100%;
  padding: 0 20px;
}
/*  */
.sign_in_button {
  width: 100%;
  background-color: #69b791 !important;
  color: #fbf7f7;
  font-size: 20px !important;
  border-radius: 10px !important;
}
.sign_in_button:hover {
  background-color: #5aa380 !important;
  color: #fbf7f7;
}
.form_detail input {
  border-bottom: 1px solid #a2c4ce !important;
}
.form_detail label {
  color: #a2c4ce;
  font-weight: 400;
}

/* SignIn Modal Fotgot password  */
.forget_pass {
  text-align: right;
}
.forget_pass p a {
  color: #69b791;
  text-decoration: none;
}
.forget_pass p a:hover {
  color: #5aa380 !important;
}
/* forgot password container */
.set_password_form,
.forgot_privacy_info {
  width: 50%;
  margin: auto;
}
.set_password_form {
  box-shadow: 1px 1px 5px #999;
}
.forgot_privacy_info p {
  font-size: 10px;
}
.forgot_privacy_info p a {
  color: #69b791;
  text-decoration: none;
}
.forgot_privacy_info p a:hover {
  color: #5aa380;
}
.set_password_form form label {
  margin: 0;
  color: #a4d3e7 !important;
}
#contact-form .form-group input {
  width: 100%;
  border-bottom: 1px solid #a4d3e7 !important;
  border-radius: 0;
  padding: 0;
}
.set_password_form form button {
  background: #69b791;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 18px;
}
.set_password_form form button:hover,
.set_password_form form button:focus,
.set_password_form form button:active {
  background: #5aa380 !important;
}
/* ----- */
.create_acc p {
  font-size: 18px;
  color: #999;
}
.create_acc p a {
  text-decoration: none;
  color: #69b791;
  font-weight: 600;
}
.create_acc p a:hover {
  color: #5aa380;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

#contact-form .form-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
}

.errorMessage {
  color: #ff5000;
  font-size: 12px;
}
/*------------- SBR------------ */
.sign_in_fluxx p {
  color: #222;
  font-size: 22px;
}
.signin_color {
  background-color: #efefef;
  text-align: center;
}
.input_fileds {
  border: none;
  border-bottom: 1px solid red;
  border-radius: 0;
}
.model_footer {
  background: #efefef;
  font-size: 16px;
  font-weight: 400;
}
.model_footer p a,
.account_footer p a {
  color: #69b791;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}
.account_footer p a:hover {
  color: #5aa380 !important;
}
.account_footer {
  font-size: 18px;
}
.account-footer-part a {
  color: #69b791;
  text-decoration: none;
  font-weight: 600;
}
.account-footer-part a:hover {
  text-decoration: none;
  color: #5aa380;
}
.form_btn {
  width: 75%;
  background: #69b791 !important;
  border: none !important;
  border-radius: 15px !important;
  margin: 0;
  padding: 0 30px;
}
.form_btn:hover {
  background: #5aa380 !important;
}
.signup_image img {
  width: 48px;
  margin: 0 auto;
}
.password-validation {
  color: #a2c4ce;
}
.form_container label {
  font-weight: 600;
}
.form_container input,
.form_container textarea {
  border: 2px solid #383b4c;
  border-radius: 0;
}
.test {
  width: 100%;
}
.btn_class {
  width: 250px;
  background: #383b4c;
  color: #efefef;
  font-weight: 500 !important;
}
.btn_class:hover {
  color: #f9f9f9 !important;
  background: #404146 !important;
}
.form-group input:focus,
.form-group textarea:focus {
  border-color: #a4d3e7;
}

/* footer */
.footer-fixed p a {
  text-decoration: none;
  color: #5aa380;
}

/* Members index Page */

.members_container {
  margin: 40px 0;
  width: 70% !important;
  /* background: red; */
}
.members_container h5 {
  font-weight: 600;
}
.members_container h2 {
  font-size: 38px;
  display: block;
  color: hsl(0, 0%, 45%);
}
.project_charter {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: red; */
}
.myproject_charter {
  display: flex;
  width: 50%;
  height: 100px;
  /* background: rebeccapurple; */
}
.charter_leftsection {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.charter_leftsection h6 {
  font-size: 1.2rem;
  margin-right: 10px;
  color: hsl(0, 0%, 40%);
}
.charter_leftsection img {
  margin: 0 10px;
}
.personal_charters {
  margin: 15px 0;
}
.personal_charters_subparts {
  width: 100%;
  display: flex;
  height: 65px;
  box-shadow: 0 2px 10px hsl(0, 0%, 90%);
}
.personal_charter_imgsection {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(0, 0%, 97%);
}
.personal_charters_subparts .personal_charter_name {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 20px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
}
.last_modified_unit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.last_modified_unit p {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 1rem;
  color: hsl(0, 0%, 45%);
}
.last_modified_unit i {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: hsl(0, 0%, 55%);
  padding: 4px 10px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.last_modified_unit i:hover {
  background: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 25%);
}
.folder-image img {
  width: 25px;
}
.create_charter_btn_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.create_charter_right_btn {
  width: 75%;
}
.create_charter_right_btn .create_charter_btn {
  text-align: center;
  background: #69b791;
  display: block;
  color: hsl(0, 0%, 98%);
  text-decoration: none;
  font-size: 1.4rem;
  padding: 12px 0;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.create_charter_right_btn .create_charter_btn:hover {
  text-decoration: none;
  background: #5aa380;
  color: hsl(0, 0%, 100%);
}
/* Modals */
.modal_header_section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
}
.modal_title_section {
  color: hsl(0, 0%, 35%);
}
.modal_header_section button {
  font-size: 2.4rem;
  font-weight: 500;
  color: hsl(0, 0%, 25%);
  transition: all 0.3s ease-in-out;
}
.modal_header_section button:hover {
  color: hsl(0, 0%, 10%);
}
.modal_delete_msg p span {
  font-weight: 700;
}
.modal_form_content label {
  font-size: 1rem;
  color: hsl(0, 0%, 30%);
  font-weight: 400;
}
.modal_form_content label span {
  font-weight: 600;
}
.modal_form_content select option {
  text-transform: capitalize;
}
.modal_btn_section_create_folder {
  width: 75%;
  display: flex;
  justify-content: space-around;
}
.modal_btn_section {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.modal_btn_section button,
.modal_btn_section_create_folder button {
  padding: 10px 24px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.modal_btn_section .modal_trigger_btn,
.modal_btn_section_create_folder .modal_trigger_btn {
  background: #69b791;
  border: none;
  transition: all 0.3s ease-in-out;
}
.modal_btn_section .modal_trigger_btn:hover,
.modal_btn_section_create_folder .modal_trigger_btn:hover,
.modal_btn_section .modal_trigger_btn:link,
.modal_btn_section_create_folder .modal_trigger_btn:link,
.modal_btn_section .modal_trigger_btn:visited,
.modal_btn_section_create_folder .modal_trigger_btn:visited,
.modal_btn_section .modal_trigger_btn:active,
.modal_btn_section_create_folder .modal_trigger_btn:active {
  background: #5aa380 !important;
}
.modal_btn_section .modal_cancel_btn,
.modal_btn_section_create_folder .modal_cancel_btn {
  color: hsl(0, 0%, 55%);
}
.modal_btn_section .modal_cancel_btn:hover,
.modal_btn_section_create_folder .modal_cancel_btn:hover {
  color: hsl(0, 0%, 40%);
}

.pagination_section {
  display: flex;
  justify-content: center;
}
.pagination_section ul li button {
  background: hsl(0, 0%, 99%);
  border: 1px solid hsl(0, 0%, 80%);
  transition: all 0.5s ease-in-out;
}
.pagination_section ul li button:hover {
  background: #69b791;
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 90%);
}
/* -------- */
/* Get started with charter */
.contant {
  width: 70%;
}
.contant p {
  line-height: 28px;
}
.get_start_btn {
  text-align: center;
}
.get_start_btn a {
  width: 450px;
  background: #69b791;
  color: #efefef;
  border-radius: 10px;
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
}
.get_start_btn a:hover {
  color: #efefef;
  text-decoration: none;
  background: #5aa380;
}
/* -------- */
/* .option_section img {
  cursor: pointer;
}
.option_section img:hover {
  background: #383b4c;
  margin: 15px;
  border-radius: 50%;
} */
.demo-pop {
  width: 150px;
  padding: 0 !important;
}
.options {
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}
.options:hover {
  background: #f9f9f9;
}
.options i {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 60%);
}
.options p {
  margin: 0;
  color: hsl(0, 0%, 30%);
}
.form_section {
  background: #383b4c;
}
.pj_charter h4 {
  color: #f9f9f9;
}
.charter_steps_container {
  margin: 25px 0;
}
.charter_steps_container p {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
}
.charter_steps {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.form-labels {
  font-weight: 500;
}
/* Faq Section */
.faq-section {
  min-height: 300px;
  border: 1px solid rgba(102, 102, 102, 0.3) !important;
  border-radius: 2%;
}
.faq-section p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 10px;
  color: #212529;
}
.faq-col {
  display: block;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}
.faq-col p {
  text-transform: none;
  font-size: 1rem;
  font-weight: 500;
  color: #7491c3;
  padding: 10px 10px;
  margin: 0;
  background: hsl(0, 0%, 99%);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
}
.faq-content {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.01);
  border-bottom: 1px solid hsl(0, 0%, 80%);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.01);
}
.faq-content p {
  padding: 10px;
  padding-bottom: 5px;
  font-size: 0.95rem;
  line-height: 22px;
  letter-spacing: 0;
  text-transform: none;
  margin: 0;
}
.faq-content p span {
  font-weight: 600;
  text-decoration: underline;
}
/* clanding */
.member-hello h1 {
  color: #f9f9f9;
  font-weight: 600;
}
/*get started */
.get_start {
  text-align: center;
}
.get_start a {
  width: 450px;
  background: #69b791;
  color: #efefef;
  border-radius: 10px;
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
}
.get_start a:hover {
  color: #efefef;
  text-decoration: none;
  background: #69b791;
}
/* projects */
.projects {
  cursor: pointer;
}
/* Project steps */
.project_charter_textarea_div {
  margin-bottom: 20px;
}
.project_info {
  width: 100%;
  height: 100px;
  border: 1px solid hsl(0, 0%, 80%);
}
.charter_btn {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.saveancontinue_btn {
  width: 250px;
  height: 50px;
  padding: 15px 30px !important;
  font-weight: 500 !important;
  transition: all 0.5s ease-in-out;
}
.charter_btn .saveancontinue_btn:hover {
  background: #69b791 !important;
  color: #f0f0f0 !important;
}
.charter_btn .skipstep_btn {
  width: 250px;
  text-align: center;
  color: #5aa380;
  opacity: 0.9;
}
.charter_btn .skipstep_btn:hover {
  color: #5aa380 !important;
  opacity: 1;
}
.nextstep_charter_btn {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
.nextstep_charter_btn .back_btn {
  width: 120px;
  height: 50px;
  margin-right: 20px;
}
.add_remove_btn_unit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.add_remove_btn_unit .add_goal {
  font-weight: 600;
  opacity: 0.8;
  text-transform: uppercase;
  color: #5aa380 !important;
  border: none !important;
  transition: all 0.5s ease-in-out;
}
.add_remove_btn_unit .add_goal:hover {
  opacity: 1;
}
.add_remove_btn_unit .add_goal i {
  font-size: 12px;
}
.steps_buttons {
  display: flex;
}
.date_info {
  width: 90%;
  height: 40px;
  border: 1px solid #999;
}
/* move items */
.moveto_project_charters p:first-child {
  font-size: 16px;
  font-weight: 400;
  color: #5aa380;
}
.moveto_project_charters p:last-child {
  color: #999;
}
.move_f1 {
  box-shadow: 1px 2px 3px #999;
  cursor: pointer;
}
.create-folder {
  width: 100%;
  height: 50px;
  background: #f9f9f9;
  display: flex;
}
.create-folder p {
  display: flex;
  justify-items: center;
  align-items: center;
}
.document {
  background: #efefef;
}
.document img {
  width: 50px;
}

/* Progress bar title List */
.memberSteps {
  cursor: pointer;
  color: #fff;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
}
.memberSteps:hover {
  color: #fff;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.steps_active {
  background: #2e3642;
  border-radius: 5px;
  padding: 4px 15px !important;
  cursor: pointer;
}
.charter_heading {
  display: flex;
  justify-content: space-between;
  color: #f9f9f9;
}
.print_download {
  display: flex;
  justify-content: flex-end;
}
.print_download p {
  cursor: pointer;
  color: hsl(0, 0%, 85%);
  padding: 2px 13px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.print_download p:hover {
  color: hsl(0, 0%, 99%);
  background: rgba(0, 0, 0, 0.2);
}
.progress_bar_titles ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}
.progress_bar_titles ul li {
  display: inline-block;
  color: #f9f9f9;
  font-size: 14px;
  font-weight: 400;
  padding: 0 13px;
}
.progress_bar_titles ul li:first-child {
  padding-left: 0;
}
.progress-container {
  margin: 10px 0;
}
.progress {
  background: #2e3642 !important;
}
.progress-bar {
  background: #c9daf8 !important;
}
/* pdf download page */
.pdf_download_title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.pdf_download_title p {
  font-size: 20px;
}
.pdf_download_btn {
  text-decoration: none;
  background: #69b791;
  color: #f9f9f9;
  border-radius: 10px;
  font-size: 20px;
}
.pdf_download_btn:hover {
  background: #5aa380;
  color: #f9f9f9;
  text-decoration: none;
}
.pdf_view {
  width: 70%;
  display: block;
  margin: 0 auto;
  min-height: 700px;
  border: 1px solid #222;
}
/* ---------- */

/* my_account_top_section */
.my_account_top_section {
  width: 50%;
  margin: auto;
}
.my_account_top_section p {
  padding: 0 0 0 40px;
}
.acc_setting {
  background: #efefef;
  display: inline-block;
}
.acc_setting h4 {
  margin: 0;
}
.setting_block {
  width: 45%;
  margin: auto;
}
.email_section {
  background: #fff;
  box-shadow: 1px 1px 10px #383b4c;
}
.change_setting p {
  width: 400px;
  margin: 0;
}
.change_setting a {
  border: none;
  background: transparent;
  color: #69b791;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none !important;
}
.change_setting a:hover,
.change_setting a:focus,
.change_setting a:active {
  background: transparent !important;
  color: #5aa380 !important;
}
.delete_account a {
  background: #999;
  color: #404146;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  text-decoration: none !important;
}
.delete_account a:hover,
.delete_account a:active,
.delete_account a:focus {
  background: rgb(134, 134, 134) !important;
  color: #32333a !important;
}

/* change email modal */
.model_title {
  background: #efefef;
}
.model_title h4 {
  color: #404146;
}
form .email_change_btn {
  background: #69b791;
  color: #efefef;
  border: none;
  font-weight: 500;
}
form .email_change_btn:hover,
form .email_change_btn:active,
form .email_change_btn:focus {
  background: #5aa380 !important;
  color: #f9f9f9 !important;
}
form .cancel_btn {
  background: #efefef;
  color: #404146;
  border: none;
  font-weight: 500;
}
form .cancel_btn:hover,
form .cancel_btn:focus,
form .cancel_btn:active {
  background: #e6e6e6 !important;
  color: #404146 !important;
}
/* blog code */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* privacy policy css */

.policy_header_col {
  background: #383b4c;
}
.policy_header,
.policy_content {
  width: 80%;
  margin: 0 auto;
}
.policy_header {
  color: #efefef;
}
.policy_header strong {
  font-size: 28px;
}
.policy_content h2,
.policy_content h5 {
  display: block;
  color: #5aa380;
}
.policy_content hr {
  border: 1px solid #5aa380 !important;
}
.policy_content_section strong {
  color: #5aa380;
}
.policy_content_section ul {
  list-style-type: none;
}
.policy_content_section ul li,
.policy_content_section ol li,
.policy_content_section p {
  font-size: 14px;
}
.policy_content_section ul li,
.policy_content_section ol li {
  color: #222;
  line-height: 1.6rem;
  margin: 0.6rem 0;
}
.policy_content_section ul li p {
  margin-bottom: 0;
}
.col_details_titles li {
  list-style: none;
}

/* Blog CSS */
.main-col-section {
  display: inline-grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-gap: 30px;
  /* background-color: #2196f3; */
  padding: 20px;
}
.blog-inside-section1,
.blog-inside-section2,
.blog-inside-section3 {
  /* background: #efefef; */
}
.blog-inside-section1 img {
  width: 100%;
  height: 50vh;
  opacity: 1;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
.blog-inside-section1 img:hover {
  opacity: 0.9;
  transition: all ease-in-out 0.5s;
}
.font-dec .divider-blog h6 {
  text-transform: uppercase;
  color: #5aa380;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
.font-dec .divider-blog h6:hover {
  color: #69b791;
  transition: all ease-in-out 0.5s;
}
.font-dec .divider-blog h3 {
  cursor: pointer;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(34, 34, 34);
}
.blog-inside-section1 .divider-blog h3 {
  font-weight: 600;
  font-size: 32px;
  color: rgb(34, 34, 34);
}
.blog-inside-section2 .divider-blog h3,
.blog-inside-section3 .divider-blog h3 {
  font-weight: 600;
  font-size: 19px;
  color: rgb(34, 34, 34);
  transition: all ease-in-out 0.5s;
}
.blog-inside-section1 .divider-blog h3:hover,
.font-dec .divider-blog p:hover,
.blog-inside-section2 .divider-blog h3:hover,
.blog-inside-section3 .divider-blog h3:hover {
  color: rgb(102, 102, 102);
  transition: all ease-in-out 0.5s;
}
.font-dec .divider-blog p {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: rgb(34, 34, 34);
}
.font-dec .divider-blog h5 {
  font-size: 14px;
  color: rgb(117, 117, 117);
  font-weight: 500;
  cursor: pointer;
}
.blog-inside-section2 .divider-blog img,
.blog-inside-section3 .divider-blog img {
  width: 100%;
  height: 25vh;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
.blog-inside-section2 .divider-blog img:hover,
.blog-inside-section3 .divider-blog img:hover {
  opacity: 0.9;
  transition: all ease-in-out 0.5s;
}
.blog-content-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.blog1,
.blog2,
.blog3 {
  /* background: #a2c4ce; */
}
.blog1 img,
.blog2 img,
.blog3 img {
  width: 50%;
  height: 20vh;
  box-sizing: border-box;
  background-size: cover;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
.blog1 img:hover,
.blog2 img:hover,
.blog3 img:hover {
  opacity: 0.9;
  transition: all ease-in-out 0.5s;
}
.blog1 .big-blog-contain,
.blog2 .big-blog-contain,
.blog3 .big-blog-contain {
  padding: 0 10px;
  margin: 0;
}
.deal-day header a {
  font-size: 16px;
  font-weight: 800;
}
.blog-inside-section4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.vertical-blog-1,
.vertical-blog-2,
.vertical-blog-3,
.vertical-blog-4 {
  background: transparent;
}
.card-detail {
  border-radius: none !important;
}
.card-detail img {
  height: 235px;
}
.card-detail .card-body {
  padding: 1rem 0;
}

/* full blog containt page BlogContain.js */
.blogContainer {
  box-sizing: border-box;
  margin: 20px 0;
  padding: 10px 0;
}
.blogpost-owener,
.blogpost-content {
  border-right: 1px solid rgb(128, 128, 128);
}
.blogpost-owener-share {
  padding: 0 15px;
}
.blogpost-owener-share p {
  font-size: 16px !important;
  margin: 0;
}
.blogpost-share {
  background: #c9daf8;
}
.blogpost-header {
  padding: 0 20px;
}
.blogpost-header > div {
  padding: 10px 20px;
}
.blog-divesion-section1 {
  border-right: 1px solid hsl(0, 0%, 75%) !important;
}
.blog-divesion-section1,
.blog-divesion-section2 {
  /* background: red; */
  padding: 10px;
  box-sizing: border-box;
}
.blog-divesion-section1 > div h1 {
  font-size: 38px;
  font-weight: 700;
  color: rgb(34, 34, 34);
}
.blog-divesion-section1 > div p {
  font-size: 24px;
  font-weight: 400;
  color: rgb(34, 34, 34);
}
.blogpost-content,
.blogpost-owener {
  /* background: rgb(202, 173, 173); */
}
.blogpost-owner-profile {
  /* background: pink; */
}
.blogpost-owner-profile img {
  width: 50px;
  height: 50px;
  background-size: cover;
}
.blogpost-content img {
  width: 100%;
  height: 350px;
}
.blogpost-content span {
  font-size: 15px;
  color: rgb(117, 117, 117);
}
.blogpost-postcontent,
.blogpost-email-subscribe {
  width: 80%;
  margin: 0 auto;
}
.blogpost-postcontent p {
  font-size: 17px !important;
  color: rgb(34, 34, 34);
  margin: 20px 0;
}
.blogpost-postcontent h2 {
  font-size: 26px !important;
  font-weight: 600;
}
.blogpost-email-subscribe {
  border-top: 5px solid #5aa380;
  border-bottom: 5px solid #5aa380;
  padding: 25px 0;
  background: rgba(102, 102, 102, 0.3);
}
.blogpost-email-subscribe h4 {
  font-weight: 600;
  font-size: 28px;
}
.blogpost-email-subscribe p {
  font-size: 16px !important;
}
.blogpost-email-subscribe span {
  font-size: 16px !important;
}
.blogpost-owener {
  margin-bottom: 30px;
}
.sidebox-readon {
  padding-top: 20px;
}
.sidebox-readon p {
  margin-bottom: 8px;
  font-size: 12px;
  text-transform: uppercase;
}
.sidebox-readon span {
  padding: 0 10px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  color: #69b791;
}
.sidebox-readon span:hover {
  text-decoration: underline;
}
.sidebox-readon h6 {
  cursor: pointer;
}
.sidebox-readon h6:hover {
  text-decoration: underline;
}
/* Side box second part section */
.sidebox-readon img {
  width: 120px;
  height: 87px;
}
.sidebox-readon .readon-tag h6 {
  padding: 0 10px;
  font-size: 16px;
}
.sidebox-readon {
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(0, 0%, 75%);
}
/* Blog View All Page */
.blog-inside-viewall {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  border-bottom: 1px solid rgb(229, 229, 229);
}
.blog-list-figure img {
  width: 240px;
  height: 150px;
}
.blog-list-viewall {
  display: flex;
  border-bottom: 1px solid hsl(0, 0%, 75%);
  margin-bottom: 20px;
}
.blog-list-content {
  padding: 0 20px;
}
.blog-list-content span {
  font-size: 14px;
  font-weight: 600;
  color: #69b791;
}
.blog-list-content h2 {
  font-size: 21px;
  padding: 5px 0;
}

.blog-list-content .blog-post-owener-list {
  /* display: flex; */
}
.blog-list-content .blog-post-owener-list img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.blog-list-content p {
  font-size: 17px;
  font-weight: 500;
}
.blog-list-auther-name {
  padding: 0 10px;
}
.blog-list-auther-name span {
  font-size: 13px;
}
.blog-list-auther-name p {
  font-size: 14px;
  color: hsl(0, 0%, 45%);
  margin: 0;
}
.sucess-message-modal img {
  width: 300px;
  height: 200px;
}
